<p>dashboard-c works!</p>
<h2 class="text-4xl font-bold underline">Dashboard Overview</h2>

<!-- Bank Details -->
<h3 class="text-2xl font-bold mt-4">Bank Account</h3>
<p><strong>Bank Name:</strong> {{ bankName }}</p>
<p><strong>Current Balance:</strong> {{ balance }}</p>
<p><strong>Grades Available:</strong> {{ grades.join(', ') }}</p>

<!-- Employee Details -->
<h3 class="text-2xl font-bold mt-4">Employee Statistics</h3>
<p><strong>Total Employees:</strong> {{ employeeCount }}</p>
<p><strong>Total Salary Paid:</strong> {{ totalPayment }}</p>

<p><strong>Total Salary Paid:</strong> {{ accountDetails }}</p>

<!-- <app-employee-training></app-employee-training> -->